@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* global styles */
*{
  margin: 0px;
  padding: 0px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
  padding: 50px 0px;
  overflow-x: hidden;
}

h2{
  font-size: 25px;
}

h5{
  font-size: 18px;
}
p{
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 400;
  color: #b7b7b7;
}
h2,h5{
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}
.btn.btnMain{
  display: inline-block;
  background: #5474f8;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  transition: all .3s;
}
.btn.btnMain:hover{
  transform: scale(1.05);
  box-shadow: 0px 1px 15px 2px #ccc;
}
/*Header styles */
.logo{
  height: 100px;
}

div.informationSection{
  margin: 40px 0px;
}
div.informationSection:last-of-type{
  margin-bottom: 0px;
}
/* input styles */
 .input-field label {
   color: #b7b7b7;
   font-family: "Roboto"
 }
 .input-field input[type=text]:focus + label,
 .input-field input[type=number]:focus + label,
  .input-field input[type=email]:focus + label{
   color: #5474f8;
 }
 .input-field input[type=text]:focus,  .input-field input[type=number]:focus, .input-field input[type=email]:focus {
   border-bottom: 1px solid #5474f8;
   box-shadow: 0 1px 0 0 #5474f8;
 }
 .input-field input[type=text].valid + label,  .input-field input[type=number].valid + label, .input-field input[type=email].valid + label {
   color: #4CAF50;
 }
 .input-field input[type=text].invalid + label,  .input-field input[type=number].invalid + label,  .input-field input[type=email].invalid + label{
   color: #F44336;
 }
 .input-field .select-wrapper{
   margin-bottom: 30px;
 }
h2.pageHeading{
  margin-bottom: 0px;
}

.vectorImg{
  width: 100%;
}
.vectorSmallScreen{
  height: 250px;
position: absolute;
right: -75px;
}

@media(max-width:600px){

  .pageHeading{
    width: 60%;
  }
  .pageHeading+p{
    width: 65%;
  }
}
@media(max-width: 370px){
  .vectorSmallScreen{
    display: none;
  }
  .pageHeading{
    width: 100%;
  }
  .pageHeading+p{
    width: 100%;
  }
}
.modal-content{
  padding: 50px !important;
}
